<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %green(%logger{15}) - %replace(%msg){'[\r\n]',
                    '_'}%n
                </pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>